p {
  font-family: Arial;
  font-size:20;
  }

header .title {text-align: center;
               font-family: sans-serif;
               font-size: 48;
               color: green}


h2 .intro {font-family: sans-serif;
          font-size: 20;}